<div class="row">
  <div class="col-2">
    <backend-nav></backend-nav>
  </div>
  <div class="col-10">
    <button type="button" class="btn btn-success" (click)="addNew()">Add New</button>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Desc</th>
        <th scope="col">Author</th>

        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
        <post-tr *ngFor="let post of posts"
                  [post]="post"
                 (onDeletePost)="deletePost(post)"
        ></post-tr>
      </tbody>
    </table>
  </div>
</div>


